{% extends 'base.html' %}

{% load championship_extras %}

{% block body %}
{% include 'subnavbar_detail.html' with title=championship.name object_name='prvenstvo' update_url='championships:update' %}
{% include 'messages.html' %}


<div class="container py-3">
    <div class="row">
        <div class="col-md-8">
            <div class="card w-100">
                <div class="card-header bg-primary">
                    <h3 class="h3 card-title text-light mb-0">Detalji o prvenstvu</h3>
                </div>
                <div class="card-body card-detail h-100">
                    <div class="row mb-3">
                    {% if championship.image %}
                        <div class="col-md-12 text-center">
                            <img src="{{ championship.image.url }}" alt="{{ championship.image }}" style="max-height: 400px">
                        </div>                    
                    {% endif %}
                        <div class="col-md-12 mt-3 mb-3 text-center">
                            <h3 class="h3 font-weight-bold">{{ championship.name }}</h3>
                            <h4 class="h4 font-weight-bold">{{ championship.championship_type.organizer }}</h4>
                        </div>
                    </div>
                    <div class="row mt-3 mb-3">
                        <div class="col ml-5">
                            <div class="detail-item-group">
                                <h5 class="h5 mb-1">ORGANIZATOR</h5>
                                <p class="card-text">{{ championship.organizer }}</p>
                            </div>
                            <div class="detail-item-group">
                                <h5 class="h5 mb-1">LOKACIJA</h5>
                                <p class="card-text">{{ championship.location_name }}</p>
                            </div>
                            <div class="detail-item-group">
                                <h5 class="h5 mb-1">TIP PRVENSTVA</h5>
                                <p class="card-text">{{ championship.championship_type }}</p>
                            </div>
                        </div>
                        <div class="col ml-5">
                            <div class="detail-item-group">
                                <h5 class="h5 mb-1">DATUM POČETKA</h5>
                                <p class="card-text">{{ championship.start_date }}</p>
                            </div>
                            <div class="detail-item-group">
                                <h5 class="h5 mb-1">DATUM ZAVRŠETKA</h5>
                                <p class="card-text">{{ championship.end_date }}</p>
                            </div>
                            <div class="detail-item-group">
                                <h5 class="h5 mb-1">UKUPAN REZULTAT KLUBA</h5>
                                <p class="card-text">{{ championship.club_position }} / {{ championship.club_count }}</p>
                            </div>
                        </div>
                    </div>
                    {% if championship.description %}
                    <div class="row mt-5">
                        <div class="col-md-12">
                            <div class="card border-secondary mb-3">
                                <div class="card-header">Opis prvenstva</div>
                                <div class="card-body">
                                    <p class="card-text">{{ championship.description|safe }}</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    {% endif %}
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card w-100">
                <div class="card-header bg-primary">
                    <h3 class="h3 card-title text-light mb-0">Najbolji plasmani</h3>
                </div>
                <div class="card-body card-detail h-100">
                    {% for category in championship.championship_type.category_set.all %}
                    <div class="card">
                        <div class="card-header">
                            <h4 class="h4 font-weight-bold card-title">{{ category }}</h4>
                        </div>
                        <div class="card-body">
                            {% for subcategory in category.subcategory_set.all %}
                            {% if subcategory|results:championship and subcategory|top_results:championship %}
                            {% if subcategory == "General" %}
                                <div class="card-title font-weight-bold">{{ category }}</div>
                            {% else %}
                                <div class="card-title font-weight-bold">{{ subcategory }}</div>
                            {% endif %}
                            <ul class="list-group">
                                {% for result in subcategory|results:championship %}
                                {% if result.position <= 3 %}
                                    <li class="list-group-item d-flex justify-content-between align-items-center">
                                        {% if result.position == 1 %}
                                        <i class="fas fa-medal" style="color:gold"></i>
                                        {% elif result.position == 2 %}
                                        <i class="fas fa-medal" style="color:silver"></i>
                                        {% elif result.position == 3 %}
                                        <i class="fas fa-medal" style="color:#ccb66f"></i>
                                        {% endif %}
                                        {{ result.driver }}
                                        <span class="badge badge-dark badge-pill">{{ result.position }}</span>
                                    </li>
                                {% endif %}
                                {% endfor %}
                            {% endif %}
                            {% endfor %}
                            </ul>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</div>

<script>
toggleActive("championships");
</script>

{% endblock body %}

