{% extends 'base.html' %}

{% load championship_extras %}

{% block body %}
{% include 'partials/subnavbar_detail.html' with title=championship.name object_name='rezultat' update_url=None %}
{% include 'messages.html' %}


<div class="container py-3">
    <div class="row">
        <div class="col-md-7">
            <div class="card w-100">
                <div class="card-body card-detail h-100">
                    <div class="row">
                    {% if championship.image %}
                        <div class="col-md-6 text-center">
                            <img src="{{ championship.image.url }}" alt="{{ championship.image }}" style="max-height: 400px; max-width: 100%">
                        </div>                    
                    {% endif %}
                        <div class="col">
                            <h3 class="h3 font-weight-bold">{{ championship.name }}</h3>
                            <ul class="list-group mt-4">
                                <div class="detail-item-group">
                                    <h5 class="h5">DATUM PRVENSTVA</h5>
                                    <p class="card-text">{{ championship.end_date|date:"m/Y" }}</p>
                                </div>
                                <div class="detail-item-group">
                                    <h5 class="h5">UKUPAN REZULTAT KLUBA</h5>
                                    <p class="card-text">{{ championship.club_position }} / {{ championship.club_count }}</p>
                                </div>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-5">
            <div class="card m-auto border-secondary mb-3">
                <div class="card-header bg-primary p-3">
                    <h2 class="h2 text-light mb-0"><strong>Uredi rezultat</strong></h2>
                </div>
                <div class="card-body p-5">
                    <form method="post" action="">
                        {% csrf_token %}
                        {% include 'form_snippet.html' %}
                        <input type="submit" class="btn btn-secondary" value="Spremi rezultat">
                        <a href="{% url 'championships:results-list' championship.id %}" class="btn btn-outline-danger">Odustani</a>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
toggleActive("championships");
</script>

{% endblock body %}

