<!-- Sub horizontal navigation -->
    <nav class="navbar navbar-expand-sm navbar-dark bg-primary">
        <div class="container">
            <div class="navbar-brand">
                <h2 class="h2 mb-0">{{ brand }}</h2>
            </div>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".subnavbar">
                <i class="fas fa-caret-down fa-lg"></i>
            </button>
            <div class="navbar-collapse collapse w-100 order-3 subnavbar">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="{% url list_url %}">
                            <i class="fas fa-list"></i>
                            <span>Popis svih {{ object_name }}</span>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
<!-- End of sub horizontal navigation -->