<!DOCTYPE html>
<html lang="hr">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>NO TRACTION - Pula</title>

    <link rel="icon" href="{% static 'images/notraction_icon.png' %}">
    <script src="{% static 'js/toggleActive.js' %}"></script>
    <link rel="stylesheet" href="{% static 'bootstrap/sandstone.min.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'style/login.css' %}" type="text/css">
</head>
<body style="background-image: url('{% static 'images/notraction_background.jpg' %}')">
    <!-- Main horizontal navigation -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
        <div class="mx-auto order-0">
            <a class="navbar-brand mx-auto" href="{% url 'home:index' %}">
                <img src="{% static 'images/notraction_logo.png' %}" alt="notraction_logo.png" height="30px">
            </a>
        </div>
    </nav>
    <!-- End of main horizontal navigation -->
    {% include 'messages.html' %}

    <div class="container pt-5">
        <div class="card m-auto border-primary mb-3">
            <div class="card-header bg-primary p-3">
                <h2 class="h2 text-light mb-0"><strong>Registracija</strong></h2>
            </div>
            <div class="card-body p-5">
                <form method="post" action="{% url 'accounts:create' %}" enctype="multipart/form-data">
                {% csrf_token %}
                    {% include 'registration/register_form_snippet.html' %}
                    <input type="submit" class="btn btn-secondary" value="Registriraj se">
                </form>
            </div>
        </div>
    </div>

</body>


<!-- Font Awesome -->
<script src="https://kit.fontawesome.com/4951590161.js" crossorigin="anonymous"></script>
<!-- Bootstrap dependencies -->
<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
<!-- End of bootstrap dependencies -->

</html>
