    <!-- Sub horizontal navigation -->
    <nav class="navbar navbar-expand-sm navbar-light sticky-top border-bottom" style="background-color: #e6e6e6">
        <a class="navbar-brand" href="{% url 'home:index' %}">
            <h3 class="h3 mb-0">{{ title }}</h3>
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".subnavbar">
            <i class="fas fa-caret-down fa-lg"></i>
        </button>
        <div class="navbar-collapse collapse w-100 order-3 subnavbar">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link" href="#">
                        <i class="fas fa-photo-video"></i>
                        <span>Galerija</span>
                    </a>
                </li>            
                {% if object_name == "vozača" %}
                            
                {% elif object_name == "automobil" and not update_url %}
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'drivers:detail' object.driver.pk %}">
                        <i class="fas fa-id-card"></i>
                        <span>Vozač</span>
                    </a>
                </li>
                {% elif object_name == "događaj" %}
                <!--
                <li class="nav-item">
                    <a class="nav-link" href="#">
                        <i class="fas fa-chart-bar"></i>
                        <span>Rezultati</span>
                    </a>
                </li>
                -->
                {% elif object_name == "prvenstvo" %}
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'championships:results-list' object.id %}">
                        <i class="fas fa-trophy"></i>
                        <span>Rezultati</span>
                    </a>
                </li>
                {% elif object_name == "rezultat" %}
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'championships:detail' object.id %}">
                        <i class="fas fa-trophy"></i>
                        <span>Prvenstvo</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'championships:results-create' object.id %}">
                        <i class="fas fa-calendar-plus"></i>
                        <span>Dodaj rezultat</span>
                    </a>
                </li>
                {% endif %}
                {% if user.is_authenticated %}
                {% if object_name == "rezultat" %}
                {% comment %}
                {% endcomment %}
                {% elif object_name == "vozača" %}
                <li class="nav-item">
                    <a class="nav-link" href="{% url update_url update_params %}">
                        <i class="fas fa-pen"></i>
                        <span>Uredi vozača</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'cars:create' object.id %}">
                        <i class="fas fa-car"></i>
                        <span>Dodaj automobil</span>
                    </a>
                </li>
                {% elif object_name == "automobil" %}
                {% if update_url and update_params %}
                <li class="nav-item">
                    <a class="nav-link" href="{% url update_url update_params %}">
                        <i class="fas fa-pen"></i>
                        <span>Uredi automobil</span>
                    </a>
                </li>
                {% else %}
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'cars:update' object.id %}">
                        <i class="fas fa-pen"></i>
                        <span>Uredi automobil</span>
                    </a>
                </li>
                {% endif %}
                
                {% elif update_url and update_params %}
                <li class="nav-item">
                    <a class="nav-link" href="{% url update_url update_params %}">
                        <i class="fas fa-pen"></i>
                        <span>Uredi {{ object_name }}</span>
                    </a>
                </li>
                {% endif %}
                {% endif %}
            </ul>
        </div>
    </nav>
    <!-- End of sub horizontal navigation -->