{% extends 'base.html' %}

{% block body %}
{% include 'partials/subnavbar_list.html' with brand='Popis automobila' object_name='automobil' create_url='cars:create' %}
{% include 'messages.html' %}

<div class="container py-3">
    {% for car in car_list %}
    {% if forloop.counter0 == 0 or forloop.counter0|divisibleby:3 %}
    <div class="row">
    {% endif %}
    <div class="col-md-4 mb-3">
        <div class="card card-link h-100" onclick="location.href='{% url 'cars:detail' car.pk %}'">
            <div class="card-header p-0">
                <img width="100%" src="{{ car.image.url }}">
            </div>
            <div class="card-body h-100 mb-2">
                <h4 class="card-title">{{ car.get_full_name }}</h4>
                <p class="card-subtitle">
                    <i class="fas fa-address-card"></i>
                    <span>{{ car.driver }}</span>
                </p>
                {% if car.description %}
                <p class="card-text">{{ car.description }}</p>
                {% endif %}
            </div>
        </div>
    </div>
    {% if forloop.counter0|add:1|divisibleby:3%}
    </div>
    {% endif %}
    {% endfor %}

</div>

<script>
toggleActive("cars");
</script>

{% endblock body %}

