{% extends 'base.html' %}
{% load championship_extras %}


{% block body %}
{% include 'partials/subnavbar_detail.html' with title=driver.get_full_name object_name='vozača' update_url='drivers:update' update_params=object.pk %}
{% include 'messages.html' %}


<div class="container py-3">
    <div class="row">
        <div class="col-md-6">
            <div class="card w-100">
                <div class="card-header bg-primary">
                    <h3 class="h3 card-title text-light mb-0">Detalji o vozaču</h3>
                </div>
                <div class="card-body h-100">
                    <div class="row">
                        <div class="col-md-12 text-center pl-3 pb-3">
                            <img src="{{ driver.driver_image.url }}" class="img-thumbnail">
                            <div class="row mt-3 mb-3">
                                <div class="col m-3">
                                    <div class="detail-item-group">
                                        <h5 class="h5 mb-1">IME</h5>
                                        <p class="card-text">{{ driver.first_name }}</p>
                                    </div>
                                    <div class="detail-item-group">
                                        <h5 class="h5 mb-1">PREZIME</h5>
                                        <p class="card-text">{{ driver.last_name }}</p>
                                    </div>
                                    <div class="detail-item-group">
                                        <h5 class="h5 mb-1">LOKACIJA</h5>
                                        <p class="card-text">{{ driver.location_name }}</p>
                                    </div>
                                </div>
                                <div class="col m-3">
                                    <div class="detail-item-group">
                                        <h5 class="h5 mb-1">SPOL</h5>
                                        <p class="card-text">{{ driver.get_gender_display }}</p>
                                    </div>
                                    <div class="detail-item-group">
                                        <h5 class="h5 mb-1">AUTOMOBIL</h5>
                                        <p class="card-text">{{ driver.car.get_full_name }}</p>
                                    </div>
                                    <div class="detail-item-group">
                                        <h5 class="h5 mb-1">DISCIPLINA</h5>
                                        <p class="card-text">{{ driver.get_categories_display }}</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-6">
            <div class="card w-100">
                <div class="card-header bg-primary">
                    <h3 class="h3 card-title text-light mb-0">Rezultati</h3>
                </div>
                <div class="card-body card-detail h-100">
                {% for championship in driver.championships %}
                    <div class="card mb-3">
                        <div class="card-header card-link" onclick="location.href='{{ championship.get_results_url }}'" style="border-left: 6px solid">
                            <h3 class="h3 font-weight-bold card-title">{{ championship }}, {{ championship.end_date|date:"Y" }}</h3>
                        </div>
                        <div class="card-body">
                        {% for category in championship|driver_categories:driver %}
                            <div class="card">
                                <div class="card-header">
                                    <h4 class="h4 font-weight-bold">{{ category }}</h4>
                                </div>
                                <div class="card-body">
                                    {% for subcategory in category.subcategory_set.all %}

                                    {% with subcategory|driver_results:driver as driver_results %}
                                    {% if driver_results|driver_championship_results:championship %}
                                    <div class="table-responsive">
                                        <table class="table table-striped mb-4">
                                            <thead>
                                                <tr>
                                                {% if subcategory.name != "General" %}
                                                    <th class="bg-primary text-light rounded-top" {% if user.is_authenticated and user.is_staff %}colspan="4"{% else %}colspan="3"{% endif %}>
                                                        <h5 class="h5 font-weight-bold mb-0">{{ subcategory }}</h5>
                                                    </th>
                                                {% endif %}
                                                </tr>
                                                <tr>
                                                    <th width="40px"></th>
                                                    <th>Plasman</th>
                                                    <th>Ime i prezime</th>
                                                    {% if user.is_authenticated and user.is_staff %}
                                                    <th></th>
                                                    {% endif %}
                                                </tr>
                                            </thead>
                                            <tbody>
                                            {% for result in driver_results|driver_championship_results:championship %}
                                                <tr>
                                                    {% if result.position == 1 %}
                                                    <td class="text-center" width="40px"><i class="fas fa-medal" style="color:gold"></i></td>
                                                    {% elif result.position == 2 %}
                                                    <td class="text-center" width="40px"><i class="fas fa-medal" style="color:silver"></i></td>
                                                    {% elif result.position == 3 %}
                                                    <td class="text-center" width="40px"><i class="fas fa-medal" style="color:#ccb66f"></i></td>
                                                    {% else %}
                                                    <td class="text-center" width="40px"></td>
                                                    {% endif %}

                                                    <td>{{ result.position }}</td>
                                                    <td>{{ result.driver }}</td>

                                                    {% if user.is_authenticated and user.is_staff %}
                                                    <td class="text-right">
                                                        <div class="" style="flex-direction: row">
                                                            <a class="btn btn-default" href="{% url 'championships:results-update' championship_pk=championship.id pk=result.id %}">
                                                                <i class="fas fa-pen text-primary"></i>
                                                            </a>
                                                            <a class="btn btn-default" href="#">
                                                                <i class="fas fa-trash text-danger"></i>
                                                            </a>
                                                        </div>
                                                    </td>
                                                    {% endif %}
                                                </tr>
                                            {% endfor %}
                                            </tbody>
                                        </table>
                                    </div>
                                    {% endif %}
                                    {% endwith %}

                                    {% endfor %}
                                </div>
                            </div>
                        {% endfor %}
                        </div>
                    </div>
                    {% empty %}
                    <div class="card">
                        <div class="card-body">
                            <p class="card-text">Još nema rezultata</p>
                        </div>
                    </div>
                {% endfor %}
                </div>
            </div>
        </div>
    </div>
</div>

{% if driver.get_active_car %}
{% include 'partials/subnavbar_detail.html' with title="Automobili" object_name='automobil' update_url='cars:update' update_params=object.get_active_car.id %}

<div class="container py-3">
    <div class="row mt-3">
        <div class="col-md-12">
            {% for car in object.cars %}
            <div class="card w-100">
                <div class="card-header bg-primary">
                    <h3 class="h3 card-title text-light mb-0">{{ car }}</h3>
                </div>             
                {% if car.is_active %}
                <div class="card"> 
                {% else %} 
                <div class="card" style="background-color: #D3D3D3"> 
                {% endif %}
                    <div class="card-body card-detail h-100">
                        <div class="row">
                            <div class="col-md-7 pl-0 pr-0 text-center mb-3">
                                <img src="{{ car.image.url }}" alt="{{ car.image }}" class="img-thumbnail" style="width: 80%">
                            </div>
                            <div class="col-md-5 m-auto text-center">
                                <div class="row">
                                    <div class="col">
                                        <img src="{{ car.model.manufacturer.image_thumbnail_url }}" class="manufacturer-logo" />
                                    </div>
                                </div>
                                <div class="row mb-3">
                                    <div class="col">
                                        <h4 class="h4 font-weight-bold">{{ car.model }}</h4>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row mt-3 mb-3">
                            <div class="col ml-5">
                                <div class="list-group">
                                    <div class="detail-item-group">
                                        <h5 class="h5 mb-1">PROIZVOĐAČ</h5>
                                        <p class="card-text">{{ car.model.manufacturer }}</p>
                                    </div>
                                    <div class="detail-item-group">
                                        <h5 class="h5 mb-1">MODEL, GODINA</h5>
                                        <p class="card-text">{{ car.get_short_name }}</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col ml-5">
                                <div class="detail-item-group">
                                    <h5 class="h5 mb-1">KONJSKIH SNAGA</h5>
                                    <p class="card-text">{{ car.horse_power }} HP</p>
                                </div>
                                <div class="detail-item-group">
                                    <h5 class="h5 mb-1">ZAPREMNINA</h5>
                                    <p class="card-text">{{ car.get_capacity_display }} ccm</p>
                                </div>
                            </div>
                        </div>
                        <div class="row mt-5">
                            <div class="col-md-12">
                                <div class="card mb-3">
                                    <div class="card-header">Opis automobila</div>
                                    <div class="card-body">
                                        {% if car.description %}
                                        <p class="card-text">{{ car.description|safe }}</p>
                                        {% else %}
                                        <p class="card-text">Nema opisa</p>
                                        {% endif %}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                {% empty %}
                <div class="card">
                    <div class="card-body card-detail">
                        <p class="card-text">Vozač još nema automobil</p>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
{% endif %}
</div>


<script>
toggleActive("drivers");
</script>

{% endblock body %}

