{% extends 'base.html' %}
{% load championship_extras %}

{% block body %}


<nav class="navbar navbar-expand-sm navbar-light border-bottom" style="background-color: #e6e6e6">
    <div class="navbar-brand">
        <h3 class="h3 mb-0">Prvenstva po godinama</h3>
    </div>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".opcenito-subnavbar">
        <i class="fas fa-caret-down fa-lg"></i>
    </button>
    <div class="navbar-collapse collapse w-100 order-3 opcenito-subnavbar">
        <ul class="navbar-nav ml-auto">
            <li class="nav-item">
                <a class="nav-link" href="#">
                    <i class="fas fa-filter"></i>
                    <span>Prikaz po</span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">
                    <i class="fas fa-sort-amount-down-alt"></i>
                    <span>Sortiraj po</span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link txt-success" href="{% url 'championships:create' %}">
                    <i class="fas fa-calendar-plus"></i>
                    <span>Novo prvenstvo</span>
                </a>
            </li>
        </ul>
    </div>
</nav>

{% for year in years %}

{% include 'partials/subnavbar_list.html' with brand=year object_name='prvenstvo' %}

{% if forloop.first %}
{% include 'messages.html' %}
{% endif %}

<div class="container pt-2 pb-2">
    {% for category in categories %}
    {% if category|championships_by_year:year %}
    <div class="card mt-2 mb-2">
        <div class="card-header bg-primary">
            <h3 class="h3 card-title text-light mb-0">{{ category.get_name_display }}</h3>
        </div>
        <div class="row">
            {% for championship in category|championships_by_year:year %}
            <div class="col-md-4 m-3">
                <div class="card card-link h-100" onclick="location.href='{% url 'championships:detail' championship.pk %}'">
                    <div class="card-header">
                        <h3 class="h3 mb-0">{{ championship.city }}, {{ championship.start_date|date:"Y" }}</h3>
                    </div>
                    <div class="card-body h-100">
                        <div class="card-image text-center mb-3">
                            <img src="{{ championship.image.url }}" alt="{{ championship.image }}" class="img-thumbnail" style="max-height: 200px;">
                        </div>
                        <p class="card-text text-center">
                            <small>{{ championship.start_date }} - {{ championship.end_date }}</small>
                        </p>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
    {% endif %}
    {% endfor %}
</div></div>
{% endfor %}
</div>

<script>
toggleActive("championships");
</script>

{% endblock body %}

