{% extends 'base.html' %}

{% load championship_extras %}

{% block body %}
{% include 'partials/subnavbar_detail.html' with title=championship.name object_name='rezultat' update_url=None %}
{% include 'messages.html' %}


<div class="container py-3">
    <div class="row">
        {% if form %}
        <div class="col-md-7">
            <div class="card w-100">
                <div class="card-body card-detail h-100">
                    <div class="row">
                    {% if championship.image %}
                        <div class="col-md-6 text-center">
                            <img src="{{ championship.image.url }}" alt="{{ championship.image }}" style="max-height: 400px; max-width: 100%">
                        </div>                    
                    {% endif %}
                        <div class="col">
                            <h3 class="h3 font-weight-bold">{{ championship.name }}</h3>
                            <ul class="list-group mt-4">
                                <div class="detail-item-group">
                                    <h5 class="h5">DATUM PRVENSTVA</h5>
                                    <p class="card-text">{{ championship.end_date|date:"m/Y" }}</p>
                                </div>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-5">
            <div class="card m-auto border-secondary mb-3">
                <div class="card-header bg-primary p-3">
                    <h2 class="h2 text-light mb-0"><strong>Novi rezultat</strong></h2>
                </div>
                <div class="card-body p-5">
                    <form method="post" action="">
                        {% csrf_token %}
                        {% include 'partials/form_snippet.html' %}
                        <input type="submit" class="btn btn-secondary" value="Spremi rezultat">
                        <a href="{% url 'championships:results-list' championship.id %}" class="btn btn-outline-danger">Odustani</a>
                    </form>
                </div>
            </div>
        </div>
    {% else %}
        <div class="col-md-12">
            <div class="card w-100">
                <div class="card-body card-detail h-100">
                    <div class="row">
                    {% if championship.image %}
                        <div class="col-md-6 text-center">
                            <img src="{{ championship.image.url }}" alt="{{ championship.image }}" style="max-height: 400px; max-width: 100%">
                        </div>                    
                    {% endif %}
                        <div class="col">
                            <h3 class="h3 font-weight-bold">{{ championship.name }}</h3>
                            <ul class="list-group detail-list-group inline">
                                <div class="detail-item-group inline">
                                    <h5 class="h5">DATUM PRVENSTVA</h5>
                                    <p class="card-text">{{ championship.end_date|date:"m/Y" }}</p>
                                </div>
                                <div class="detail-item-group inline">
                                    <h5 class="h5">KATEGORIJA</h5>
                                    <p class="card-text">{{ object.category }}</p>
                                </div>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row mt-3 mb-3">
        <div class="col-md-12">
            <div class="card w-100">
                <div class="card-header bg-primary">
                    <h3 class="h3 card-title text-light mb-0">Rezultati</h3>
                </div>
                <div class="card-body card-detail h-100">
                    
                    <div class="card">
                        <div class="card-body">
                            {% for subcategory in object.category.subcategory_set.all %}
                            {% if subcategory|results:championship  %}
                            <div class="table-responsive">
                                <table class="table table-striped mb-5">
                                    <thead>
                                        <tr>
                                        {% if subcategory.name != "General" %}
                                            <th class="bg-primary text-light rounded-top" {% if user.is_authenticated and user.is_staff %}colspan="4"{% else %}colspan="3"{% endif %}>
                                                <h5 class="h5 font-weight-bold mb-0">{{ subcategory }}</h5>
                                            </th>
                                        {% endif %}
                                        </tr>
                                        <tr>
                                            <th width="40px"></th>
                                            <th >Plasman</th>
                                            <th>Ime i prezime</th>
                                            {% if user.is_authenticated and user.is_staff %}
                                            <th></th>
                                            {% endif %}
                                        </tr>
                                    </thead>
                                    <tbody>
                                    {% for result in subcategory|results:championship %}
                                        <tr>
                                            {% if result.position == 1 %}
                                            <td class="text-center" width="40px"><i class="fas fa-medal" style="color:gold"></i></td>
                                            {% elif result.position == 2 %}
                                            <td class="text-center" width="40px"><i class="fas fa-medal" style="color:silver"></i></td>
                                            {% elif result.position == 3 %}
                                            <td class="text-center" width="40px"><i class="fas fa-medal" style="color:#ccb66f"></i></td>
                                            {% else %}
                                            <td class="text-center" width="40px"></td>
                                            {% endif %}

                                            <td >{{ result.position }}</td>
                                            <td>{{ result.driver }}</td>

                                            {% if user.is_authenticated and user.is_staff %}
                                            <td class="text-right">
                                                <div class="" style="flex-direction: row">
                                                    <a class="btn btn-default" href="{% url 'championships:results-update' championship_pk=championship.id pk=result.id %}">
                                                        <i class="fas fa-pen text-primary"></i>
                                                    </a>
                                                    <a class="btn btn-default" href="#">
                                                        <i class="fas fa-trash text-danger"></i>
                                                    </a>
                                                </div>
                                            </td>
                                            {% endif %}
                                        </tr>
                                    {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                            {% endif %}
                            {% endfor %}
                        </div>
                    </div>
                    
                </div>
            </div>
        </div>
    </div>
    {% endif %}
</div>

<script>
toggleActive("championships");
</script>

{% endblock body %}

