{% extends 'base.html' %}


{% block body %}

{% include 'partials/subnavbar_list.html' with brand="Albumi" object_name="album" create_url='gallery:create' url_params=championship.pk %}
{% include 'messages.html' %}


{% for object in object_list %}
<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <div class="card m-2">
                <div class="card-header bg-primary">
                    <a class="" href="{% url 'gallery:detail' object.id %}">
                        <h3 class="h3 card-title mb-0 text-light">{{ object }}</h3>
                    </a>
                </div>
                <div class="card-body">
                    <div class="row">
                        {% for image in object.images.all %}
                        <div class="col-lg-3">
                            <div class="card mb-3">
                                <div class="card-body p-0">
                                    <a onclick="toggleCarousel('image-{{ image.id }}', '{{ object.id }}')" style="cursor:pointer">
                                        <img src="{{ image.image.url }}" alt="{{ image.alt }}" class="img-thumbnail" />
                                    </a>
                                </div>
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container-fluid px-0">
    <div id="galleryCarousel-{{ object.id }}" class="carousel slide" data-interval="false">
        <div>
            <button id="galleryCarouselCloseButton-{{ object.id }}" type="button" class="close text-light" onclick="toggleCarousel(null, '{{ object.id }}')" style="z-index: 11000;position: absolute;top: 1vh;right: 3vw;font-size: 24pt;">
                &times;
            </button>
        </div>
        <div id="galleryCarouselWrapper" class="carousel-inner bg-primary" role="listbox">
            {% for image in object.images.all %}
            <div id="image-{{ image.id }}" class="carousel-item">
                <div class="d-flex align-items-center justify-content-center min-vh-100">
                    <img src="{{ image.image.url }}" alt="{{ image.alt }}" style="max-height: 100vh; max-width: 100vh; padding:60px 0px 140px 0px" />
                    <div class="carousel-caption d-none d-md-block">
                        <h5>{{ image.alt }}</h5>
                        <p>{{ object.championship }}</p>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
        <a class="carousel-control-prev" href="#galleryCarousel-{{ object.id }}" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#galleryCarousel-{{ object.id }}" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>
    </div>
</div>
{% endfor %}

<script>
toggleActive("championships");

window.onkeydown = function(event) {
    if (event.keyCode == 27)
        toggleCarousel();
}

function toggleCarousel(image_id, carouselId) {
    let galleryCarousel = document.getElementById('galleryCarousel-' + carouselId);
    let galleryCarouselCloseButton = document.getElementById('galleryCarouselCloseButton-' + carouselId);
    let galleryCarouselWrapper = document.getElementById("galleryCarouselWrapper");
    
    for (let carouselImage of galleryCarouselWrapper.children) {
        carouselImage.classList.remove('active');    
    }

    console.log(image_id)
    if (image_id != null){        
        let carouselImage = document.getElementById(image_id);
        carouselImage.classList.add('active');
        
        galleryCarousel.style.position = "fixed";
        galleryCarousel.style.top = "0";
        galleryCarousel.style.left = "0";
        galleryCarousel.style.zIndex = "10000";
        galleryCarousel.style.minWidth = "100vw";
        galleryCarousel.style.minHeight = "100vh";

        galleryCarousel.hidden = false;
        galleryCarouselCloseButton.hidden = false;
    }
    else {
        galleryCarousel.hidden = true;
        galleryCarouselCloseButton.hidden = true;
    }
}


</script>


{% endblock body %}

