i.fas,
i.fab {
    width: 20px;
    text-align: center;
}

.col {
    margin-bottom: 3%;
}


.nav-link {
    font-size: large;
}

.nav-item {
    font-size: large;
}



.card-link {
    -webkit-box-shadow: rgba(0, 0, 0, 0.3) 0 1px 3px;
    -moz-box-shadow: rgba(0,0,0,0.3) 0 1px 3px;
    box-shadow: rgba(0, 0, 0, 0.3) 0 1px 3px;
    transition: 0.1s all;
    cursor: pointer;
}

.card-link:hover {
    -webkit-box-shadow: rgba(0, 0, 0, 0.3) 0 2px 10px;
    -moz-box-shadow: rgba(0,0,0,0.3) 0 2px 10px;
    box-shadow: rgba(0, 0, 0, 0.3) 0 2px 10px;
}

.detail-list-group.inline {
    flex-direction: row !important;
}

.detail-item-group {
    padding-bottom: 14%;
}

.detail-item-group h5 {
    color: rgba(0, 0, 0, 0.5);
    font-size: 11px;
    font-weight: 500;
    text-transform: uppercase;
}

.detail-item-group.inline {
    padding-left: 0;
    padding-right: 4%;
}

.manufacturer-logo {
    max-width: 50%;
    padding: 8%;
}

.driver-image-rounded {
    width: 50%;
    border-radius: 50%;
}


@media only screen and (max-width: 760px) {
    .card-detail {
        padding: 0;
    }

    .card-detail .row {
        margin: 0;
    }

    .card-detail .card-detail-image {
        border-radius: 0 !important;
        width: 100% !important;
    }

}
