i.fas,
i.fab {
    width: 20px;
    text-align: center;
}

.card {
    -webkit-box-shadow: rgba(0, 0, 0, 0.3) 0 1px 3px;
    -moz-box-shadow: rgba(0,0,0,0.3) 0 1px 3px;
    box-shadow: rgba(0, 0, 0, 0.3) 0 1px 3px;
}

.card-link {
    transition: 0.1s all;
    cursor: pointer;
}

.card-link:hover {
    -webkit-box-shadow: rgba(0, 0, 0, 0.3) 0 2px 10px;
    -moz-box-shadow: rgba(0,0,0,0.3) 0 2px 10px;
    box-shadow: rgba(0, 0, 0, 0.3) 0 2px 10px;
}