<!DOCTYPE html>
<html lang="hr">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>NO TRACTION - Pula</title>

    <link rel="icon" href="{% static 'images/notraction_icon.png' %}">
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="{% static 'js/toggleActive.js' %}"></script>

    <link rel="stylesheet" href="{% static 'bootstrap/sandstone.min.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'style/cropper.min.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'style/style.css' %}" type="text/css">
</head>
<body>
    <!-- Main horizontal navigation -->
    <nav class="navbar sticky-top navbar-expand-lg navbar-dark bg-primary">
        <div class="navbar-collapse collapse w-100 order-1 order-md-0 mainnavbar">
            <ul class="navbar-nav mr-auto">
                <li id="cars" class="nav-item">
                    <a class="nav-link" href="{% url 'cars:list' %}">Automobili</a>
                </li>
                <li id="drivers" class="nav-item">
                    <a class="nav-link" href="{% url 'drivers:list' %}">Vozači</a>
                </li>
                <li id="events" class="nav-item">
                    <a class="nav-link" href="{% url 'events:list' %}">Događaji</a>
                </li>
                <li id="championships" class="nav-item">
                    <a class="nav-link" href="{% url 'championships:list' %}">Prvenstva</a>
                </li>
                <li id="about" class="nav-item">
                    <a class="nav-link" href="{% url 'home:about' %}">O nama</a>
                </li>
            </ul>
        </div>
        <div class="mx-auto order-0">
            <a class="navbar-brand mx-auto" href="{% url 'home:index' %}">
                <img src="{% static 'images/notraction_logo.png' %}" alt="notraction_logo.png" height="30px">
            </a>
        </div>
        <div class="navbar-collapse collapse w-100 order-3 mainnavbar">
            <ul class="navbar-nav ml-auto">
                {% if user.is_authenticated %}
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'accounts:detail' user.profile.pk %}">
                        <i class="fas fa-user-circle"></i>
                        <span>{{ user.get_full_name }}</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'logout' %}">
                        <i class="fas fa-sign-out-alt"></i>
                        <span>Logout</span>
                    </a>
                </li>
                {% else %}
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'accounts:login' %}">
                        <i class="fas fa-sign-in-alt"></i>
                        <span>Prijava</span>
                    </a>
                </li>
                {% endif %}
            </ul>
        </div>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".mainnavbar">
            <span class="navbar-toggler-icon"></span>
        </button>
    </nav>
    <!-- End of main horizontal navigation -->

    <div style="background-color: #f2f2f2">
    {% block body %}
    {% endblock body %}
    </div>

    {% include 'partials/footer.html' %}
</body>

<!-- Font Awesome -->
<script src="https://kit.fontawesome.com/4951590161.js" crossorigin="anonymous"></script>
<!-- Bootstrap dependencies -->
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
<!-- End of bootstrap dependencies -->


</html>