{% extends 'base.html' %}

{% block body %}
{% include 'messages.html' %}

<div class="container p-3">
    <div class="card m-auto border-secondary mb-3">
        <div class="card-header bg-primary p-3">
            <h2 class="h2 text-light mb-0"><strong>Novi automobil</strong></h2>
        </div>
        <div class="card-body p-5">
            <form method="post" action="{% url 'cars:create' %}" enctype="multipart/form-data">
            {% csrf_token %}
                {% include 'form_snippet_alt.html' %}
                <input type="submit" class="btn btn-secondary" value="Spremi automobil">
                <a href="{% url 'cars:list' %}" class="btn btn-outline-danger">Odustani</a>
            </form>
        </div>
    </div>
</div>


<script>
toggleActive("cars");
</script>

{% endblock body %}

